/*Global css start here*/
/*Switch Section*/
.themeDev-mail-body .themedev-switch-input { opacity: 0; z-index: 99; position: absolute; }

.themeDev-mail-body .themedev-checkbox-switch { cursor: pointer; margin-bottom: 0px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: inline-block; line-height: 19px; width: auto; clear: both; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-weight: 700; }

.themeDev-mail-body .themedev-checkbox-switch .themedev-label-switch { position: relative; overflow: hidden; width: 52px; height: 26px; display: inline-block; margin-left: 0px; cursor: pointer; }

.themeDev-mail-body .themedev-checkbox-switch .themedev-label-switch:after, .themeDev-mail-body .themedev-checkbox-switch .themedev-label-switch:before { position: absolute; -webkit-transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); -o-transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); -moz-transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); font-weight: 700; font-size: .6875rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-sizing: border-box; box-sizing: border-box; }

.themeDev-mail-body .themedev-checkbox-switch .themedev-label-switch:before { content: attr(data-inactive); top: 0; left: 0; width: 100%; height: 100%; background-color: #FFFFFF; border: #0073aa solid 1px; border-radius: 26px; text-indent: 24px; }

.themeDev-mail-body .themedev-switch-input:checked ~ .themedev-checkbox-switch .themedev-label-switch:before { border-color: #f2295b; text-indent: 52px; }

.themeDev-mail-body .themedev-checkbox-switch .themedev-label-switch:after { position: absolute; top: 4px; left: 4px; display: block; content: attr(data-active); width: 18px; height: 18px; background-color: #0073aa; border-radius: 100%; -webkit-transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); -o-transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); text-indent: -22px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.themeDev-mail-body .themedev-switch-input:checked ~ .themedev-checkbox-switch .themedev-label-switch:after { left: 30px; background-color: #f2295b; color: #f2295b; }

/*End switch button*/
.themeDev-mail-body .settings-content { padding: 10px; display: block; }

.themeDev-mail-body .settings-content h3 { font-size: 21px; color: #0073aa; }

.themeDev-mail-body .settings-content h4 { font-size: 17px; color: #f2295b; }

.themeDev-mail-body .settings-content .sub-headding { font-size: 13px; color: #bdbaba; }

.themeDev-mail-body .settings-content .themeDev-form { padding: 5px 0px; }

.themeDev-mail-body .settings-content .themeDev-form .flex-form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.themeDev-mail-body .settings-content .themeDev-form .left-div { -webkit-box-flex: 0; -ms-flex: 0 0 23%; flex: 0 0 23%; margin-right: 10px; }

.themeDev-mail-body .settings-content .themeDev-form .right-div { -webkit-box-flex: 0; -ms-flex: 0 0 75%; flex: 0 0 75%; }

.themeDev-mail-body .settings-content .themeDev-form label.block-label, .themeDev-mail-body .settings-content .themeDev-form label.inline-label, .themeDev-mail-body .settings-content .themeDev-form label.themedev-checkbox-switch { display: block; font-weight: bold; line-height: 2em; }

.themeDev-mail-body .settings-content .themeDev-form label.inline-label { display: inline-block; }

.themeDev-mail-body .settings-content .themeDev-form span.themedev-document-info { color: #bdbaba; font-style: italic; font-size: 12px; }

.themeDev-mail-body .settings-content .themeDev-form span.themedev-document-info.block { display: block; }

.themeDev-mail-body .settings-content .themeDev-form input.themedev-text-input, .themeDev-mail-body .settings-content .themeDev-form select.themedev-text-input { border-radius: 3px; -webkit-border-radius: 3px; -ms-border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.05); -webkit-box-shadow: 0px 6px 20px 0px rgba(194, 204, 222, 0.3); box-shadow: 0px 6px 20px 0px rgba(194, 204, 222, 0.3); background-color: #fff; color: #32373c; outline: 0; -webkit-transition: 50ms border-color ease-in-out; -o-transition: 50ms border-color ease-in-out; transition: 50ms border-color ease-in-out; display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; }

.themeDev-mail-body .settings-content .themeDev-form input.themedev-text-input.inline-block, .themeDev-mail-body .settings-content .themeDev-form select.themedev-text-input.inline-block { display: inline-block; width: 100%; max-width: 500px; }

.themeDev-mail-body .settings-content .themeDev-form .themedev-submit { background-color: #0073aa; color: #FFFFFF; max-width: none; padding: 9px 20px; font-size: 14px; line-height: 14px; border-radius: 0px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: inline-block; border: solid 2px transparent; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; -webkit-font-smoothing: antialiased; text-align: center; vertical-align: middle; cursor: pointer; white-space: nowrap; background-image: none; -webkit-transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; transition: all 0.15s ease; -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); }

.themeDev-mail-body .settings-content .themeDev-form .sub-label ul.social-services-list { list-style: none; margin-left: 20px; }

.themeDev-mail-body .settings-content .themeDev-form.nx-border-bottom { /*border-bottom: 1px solid #ccc; margin-bottom: 5px;*/ }

.themeDev-mail-body .settings-content .themeDev-form .next-custom-post-ul li { display: inline-block; width: 48%; }

.themeDev-mail-body .settings-content .next-providers { /* social block */ /* show animation */ /* hide animation */ }

.themeDev-mail-body .settings-content .next-providers .setting-label-wraper .setting-label { font-weight: bold; }

.themeDev-mail-body .settings-content .next-providers .setting-label-wraper .setting-label span { font-weight: normal; }

.themeDev-mail-body .settings-content .next-providers .setting-label-wraper .setting-label span a { color: #f2295b; }

.themeDev-mail-body .settings-content .next-providers .setting-label { line-height: 3em; display: inline-block; }

.themeDev-mail-body .settings-content .next-providers .next-btn { background-color: #0073aa; color: #FFFFFF; max-width: none; padding: 9px 20px; font-size: 14px; line-height: 14px; border-radius: 0px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: inline-block; border: solid 2px transparent; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; -webkit-font-smoothing: antialiased; text-align: center; vertical-align: middle; cursor: pointer; white-space: nowrap; background-image: none; }

.themeDev-mail-body .settings-content .next-providers .next-btn.danger { background-color: #dc3545; }

.themeDev-mail-body .settings-content .next-providers .next-btn.primary { background-color: #17a2b8; color: #fff; }

.themeDev-mail-body .settings-content .next-providers .next-btn.primary:hover { background-color: #117a8b; }

.themeDev-mail-body .settings-content .next-providers .next-btn.btn-special { font-size: 14px; -webkit-transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; transition: all 0.15s ease; -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); padding: 10px 20px; }

.themeDev-mail-body .settings-content .next-providers .next-modal-dialog .tab__list { list-style: none; padding-left: 0px; margin: 0px; }

.themeDev-mail-body .settings-content .next-providers .next-modal-dialog .tab__list > .tab__list__item { display: block; float: left; font-size: 14px; color: #7d7b7b; border: none; padding: 21px 0; cursor: pointer; background-color: #FFFFFF; /*-webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease;*/ margin: 0; font-weight: 500; }

.themeDev-mail-body .settings-content .next-providers .next-modal-dialog .tab__list > .tab__list__item:not(:last-child) { margin-right: 30px; }

.themeDev-mail-body .settings-content .next-providers .next-modal-dialog .tab__list > .tab__list__item:hover { color: #000; }

.themeDev-mail-body .settings-content .next-providers .next-modal-dialog .tab__list > .tab__list__item.active { color: #000; background-color: transparent; border-bottom: 2px solid #0073aa; }

.themeDev-mail-body .settings-content .next-providers .next-modal-dialog .tab__list > .tab__list__item.right { float: right; }

.themeDev-mail-body .settings-content .next-providers .next-modal-dialog .next--tab__post__details { position: relative; }

.themeDev-mail-body .settings-content .next-providers .next-modal-dialog .next--tab__post__details .tabItem { display: none; -webkit-animation: hide-fadeout 600ms ease-out; animation: hide-fadeout 600ms ease-out; }

.themeDev-mail-body .settings-content .next-providers .next-modal-dialog .next--tab__post__details .tabItem.active { display: block; -webkit-animation: show-fadein 600ms ease-in; animation: show-fadein 600ms ease-in; }

.themeDev-mail-body .settings-content .next-providers .next-modal-dialog .next--tab__post__details .next_section-title { text-align: right; font-size: 30px; color: rgba(0, 0, 0, 0.3); margin: 0; position: absolute; top: -8px; right: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; pointer-events: none; font-weight: 700; }

.themeDev-mail-body .settings-content .next-providers .next-modal-header { border-bottom: 1px solid #f7f7f7; -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.03); box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.03); padding-left: 20px; padding-right: 20px; }

.themeDev-mail-body .settings-content .next-providers .next-modal-header > .tabHeader { float: left; }

.themeDev-mail-body .settings-content .next-providers .next-modal-header > .next-btn { float: right; color: #fa3f6b; background: transparent; margin-top: 12px; }

.themeDev-mail-body .settings-content .next-providers .next-regular-text { border-radius: 3px; -webkit-border-radius: 3px; -ms-border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.05); -webkit-box-shadow: 0px 6px 20px 0px rgba(194, 204, 222, 0.3); box-shadow: 0px 6px 20px 0px rgba(194, 204, 222, 0.3); background-color: #fff; color: #32373c; outline: 0; -webkit-transition: 50ms border-color ease-in-out; -o-transition: 50ms border-color ease-in-out; transition: 50ms border-color ease-in-out; display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; }

.themeDev-mail-body .settings-content .next-providers .next-regular-text::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: rgba(0, 0, 0, 0.3); }

.themeDev-mail-body .settings-content .next-providers .next-regular-text::-moz-placeholder { /* Firefox 19+ */ color: rgba(0, 0, 0, 0.3); }

.themeDev-mail-body .settings-content .next-providers .next-regular-text:-ms-input-placeholder { /* IE 10+ */ color: rgba(0, 0, 0, 0.3); }

.themeDev-mail-body .settings-content .next-providers .next-regular-text:-moz-placeholder { /* Firefox 18- */ color: rgba(0, 0, 0, 0.3); }

@-webkit-keyframes show-fadein { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes show-fadein { 0% { opacity: 0; }
  100% { opacity: 1; } }

@-webkit-keyframes hide-fadeout { 0% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes hide-fadeout { 0% { opacity: 1; }
  100% { opacity: 0; } }

@-webkit-keyframes show-animation { 0% { -webkit-transform: translateY(20px); transform: translateY(20px);
    opacity: 0; }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); } }

@keyframes show-animation { 0% { -webkit-transform: translateY(20px); transform: translateY(20px);
    opacity: 0; }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); } }

@-webkit-keyframes hide-animation { 0% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  100% { -webkit-transform: translateY(20px); transform: translateY(20px);
    opacity: 0; } }

@keyframes hide-animation { 0% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  100% { -webkit-transform: translateY(20px); transform: translateY(20px);
    opacity: 0; } }

.themeDev-mail-body .support-content { padding: 10px; display: block; }

.themeDev-mail-body .support-content h3 { font-size: 21px; color: #0073aa; }

.themeDev-mail-body .nx-hide-target { display: none; }

.themeDev-mail-body .nx-show-target { display: block; }

.themeDev-mail-body { display: block; background-color: #fff; -webkit-box-shadow: 1px 5px 17px #ccc; box-shadow: 1px 5px 17px #ccc; margin: 20px 14px; }

.themeDev-mail-body .header-settings { background-color: #0073aa; padding: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-sizing: border-box; box-sizing: border-box; }

.themeDev-mail-body .header-settings figure { display: inline-block; padding: 4px; margin: 0px; }

.themeDev-mail-body .header-settings figure img { width: 100px; }

.themeDev-mail-body .header-settings h2.title { display: inline-block; font-size: 24px; color: #FFFFFF; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; }

.themeDev-mail-body .nav-settings { background-color: #fff; }

.themeDev-mail-body .nav-settings ul.nav-tab-wrapper { border-bottom: 1px solid #0073aa; padding-top: 0px; }

.themeDev-mail-body .nav-settings ul.nav-tab-wrapper li { margin-bottom: 0px; float: none; }

.themeDev-mail-body .nav-settings ul.nav-tab-wrapper li a.nav-tab { background-color: #0073aa; color: #FFFFFF; border: unset; margin-left: 0; margin-bottom: -2px; }

.themeDev-mail-body .nav-settings ul.nav-tab-wrapper li a.nav-tab:fisrt-child { margin-left: .5em; }

.themeDev-mail-body .nav-settings ul.nav-tab-wrapper li a.nav-tab-active, .themeDev-mail-body .nav-settings ul.nav-tab-wrapper li a.nav-tab-active:focus, .themeDev-mail-body .nav-settings ul.nav-tab-wrapper li a.nav-tab-active:focus:active, .themeDev-mail-body .nav-settings ul.nav-tab-wrapper li a.nav-tab-active:hover { border-bottom: 2px solid #fff; background: #fff; color: #000; }

#__next_mail_listed_id .themedev-switch-input { opacity: 0; z-index: 99; position: absolute; }

#__next_mail_listed_id .themedev-checkbox-switch { cursor: pointer; margin-bottom: 0px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: inline-block; line-height: 19px; width: auto; clear: both; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-weight: 700; }

#__next_mail_listed_id .themedev-checkbox-switch .themedev-label-switch { position: relative; overflow: hidden; width: 52px; height: 26px; display: inline-block; margin-left: 0px; cursor: pointer; }

#__next_mail_listed_id .themedev-checkbox-switch .themedev-label-switch:after, #__next_mail_listed_id .themedev-checkbox-switch .themedev-label-switch:before { position: absolute; -webkit-transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); -o-transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); -moz-transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); font-weight: 700; font-size: .6875rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-sizing: border-box; box-sizing: border-box; }

#__next_mail_listed_id .themedev-checkbox-switch .themedev-label-switch:before { content: attr(data-inactive); top: 0; left: 0; width: 100%; height: 100%; background-color: #FFFFFF; border: #0073aa solid 1px; border-radius: 26px; text-indent: 24px; }

#__next_mail_listed_id .themedev-switch-input:checked ~ .themedev-checkbox-switch .themedev-label-switch:before { border-color: #f2295b; text-indent: 52px; }

#__next_mail_listed_id .themedev-checkbox-switch .themedev-label-switch:after { position: absolute; top: 4px; left: 4px; display: block; content: attr(data-active); width: 18px; height: 18px; background-color: #0073aa; border-radius: 100%; -webkit-transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); -o-transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); text-indent: -22px; display: -webkit-box; display: -ms-flexbox; display: flex; }

#__next_mail_listed_id .themedev-switch-input:checked ~ .themedev-checkbox-switch .themedev-label-switch:after { left: 30px; background-color: #f2295b; color: #f2295b; }

#__next_mail_listed_id .next_mail_custom_post_type { /* provider section */ /*Display Options*/ }

#__next_mail_listed_id .next_mail_custom_post_type .themeDev-form { margin-top: 10px; }

#__next_mail_listed_id .next_mail_custom_post_type .themeDev-form .setting-section { padding: 10px 15px; }

#__next_mail_listed_id .next_mail_custom_post_type .themeDev-form .setting-section label.block-label, #__next_mail_listed_id .next_mail_custom_post_type .themeDev-form .setting-section label.inline-label, #__next_mail_listed_id .next_mail_custom_post_type .themeDev-form .setting-section label.themedev-checkbox-switch { display: block; font-weight: bold; line-height: 2em; }

#__next_mail_listed_id .next_mail_custom_post_type .themeDev-form .setting-section label.inline-label { display: inline-block; margin-right: 10px; width: 100%; max-width: 200px; }

#__next_mail_listed_id .next_mail_custom_post_type .themeDev-form .setting-section span.themedev-document-info { color: #bdbaba; font-style: italic; font-size: 12px; }

#__next_mail_listed_id .next_mail_custom_post_type .themeDev-form .setting-section span.themedev-document-info.block { display: block; }

#__next_mail_listed_id .next_mail_custom_post_type .themeDev-form .setting-section input.themedev-text-input, #__next_mail_listed_id .next_mail_custom_post_type .themeDev-form .setting-section select.themedev-text-input { border-radius: 3px; -webkit-border-radius: 3px; -ms-border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.05); -webkit-box-shadow: 0px 6px 20px 0px rgba(194, 204, 222, 0.3); box-shadow: 0px 6px 20px 0px rgba(194, 204, 222, 0.3); background-color: #fff; color: #32373c; outline: 0; -webkit-transition: 50ms border-color ease-in-out; -o-transition: 50ms border-color ease-in-out; transition: 50ms border-color ease-in-out; display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; }

#__next_mail_listed_id .next_mail_custom_post_type .themeDev-form .setting-section input.themedev-text-input.inline-block, #__next_mail_listed_id .next_mail_custom_post_type .themeDev-form .setting-section select.themedev-text-input.inline-block { display: inline-block; width: 100%; max-width: 500px; }

#__next_mail_listed_id .next_mail_custom_post_type .themeDev-form .setting-section .themedev-submit { background-color: #0073aa; color: #FFFFFF; max-width: none; padding: 9px 20px; font-size: 14px; line-height: 14px; border-radius: 0px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: inline-block; border: solid 2px transparent; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; -webkit-font-smoothing: antialiased; text-align: center; vertical-align: middle; cursor: pointer; white-space: nowrap; background-image: none; -webkit-transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; transition: all 0.15s ease; -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); }

#__next_mail_listed_id .next_mail_custom_post_type .next-providers .next-single-social-block { margin: 10px; border-radius: 1px; position: relative; overflow: hidden; -webkit-transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; transition: all 0.15s ease; -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); }

#__next_mail_listed_id .next_mail_custom_post_type .next-providers .next-single-social-block .next-block-header.next-pro-service { position: relative; }

#__next_mail_listed_id .next_mail_custom_post_type .next-providers .next-single-social-block .next-block-header.next-pro-service:before { content: "PRO"; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; background: #1d09097d; z-index: 999; color: #fff; font-weight: bold; vertical-align: middle; display: -ms-grid; display: grid; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; }

#__next_mail_listed_id .next_mail_custom_post_type .next-providers .next-single-social-block.next-pro-service { position: relative; }

#__next_mail_listed_id .next_mail_custom_post_type .next-providers .next-single-social-block.next-pro-service:before { content: "PRO"; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; background: #1d09097d; z-index: 999; color: #fff; font-weight: bold; vertical-align: middle; display: -ms-grid; display: grid; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; }

#__next_mail_listed_id .next_mail_custom_post_type .next-providers .next-social-block { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding-left: 10px; list-style: none; }

#__next_mail_listed_id .next_mail_custom_post_type .next-providers .next-social-block > li { width: 33.33333%; }

#__next_mail_listed_id .next_mail_custom_post_type .next-providers .next-social-block > li .nextmail-header { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; display: -webkit-box; display: -ms-flexbox; display: flex; cursor: pointer; }

#__next_mail_listed_id .next_mail_custom_post_type .next-providers .next-social-block > li .nextmail-header .next-block-header { display: inline-block; padding: 19px 5px; min-width: 81px; }

#__next_mail_listed_id .next_mail_custom_post_type .next-providers .next-social-block > li .nextmail-header .next-block-header .next_section-title { font-size: 13px; line-height: 1em; margin: 4px; }

#__next_mail_listed_id .next_mail_custom_post_type .next-providers .next-social-block > li .nextmail-header .next-block-header .next_section-title.enable-ser { color: #ff0000cf; }

#__next_mail_listed_id .next_mail_custom_post_type .next-providers .next-social-block > li .nextmail-header .next-block-footer { display: inline-block; padding: 0px; padding-right: 15px; }

#__next_mail_listed_id .next_mail_custom_post_type .next-providers .next-social-block > li .nextmail-options { display: none; }

#__next_mail_listed_id .next_mail_custom_post_type .next-providers .next-social-block > li .nextmail-options .setting-section-option { padding: 4px 10px; }

#__next_mail_listed_id .next_mail_custom_post_type .next-providers .next-social-block > li .nextmail-options.nx-show-target { display: block; }

#__next_mail_listed_id .next_mail_custom_post_type .disply-login-div { display: block; }

#__next_mail_listed_id .next_mail_custom_post_type .disply-login-div .style-sec-next { cursor: pointer; width: 20%; display: inline-block; position: relative; border: 1px solid #ccc; margin: 5px; padding: 10px; -webkit-box-shadow: 0px 6px 20px 0px rgba(194, 204, 222, 0.3); box-shadow: 0px 6px 20px 0px rgba(194, 204, 222, 0.3); }

#__next_mail_listed_id .next_mail_custom_post_type .disply-login-div .style-sec-next .hidden-checkbox { opacity: 0; position: absolute; z-index: 999; }

#__next_mail_listed_id .next_mail_custom_post_type .disply-login-div .style-sec-next .next-display-label { text-align: center; width: 100%; display: block; }

#__next_mail_listed_id .next_mail_custom_post_type .disply-login-div .style-sec-next .next-display-label span { font-weight: bold; color: #ddd; }

#__next_mail_listed_id .next_mail_custom_post_type .disply-login-div .style-sec-next figure.image-figure { height: 150px; width: 150px; line-height: 150px; border-radius: 75px; text-align: center; overflow: hidden; border-radius: 0px; padding: 0; margin: 0; }

#__next_mail_listed_id .next_mail_custom_post_type .disply-login-div .style-sec-next figure.image-figure img { width: 100%; opacity: .8; }

#__next_mail_listed_id .next_mail_custom_post_type .disply-login-div .style-sec-next .hidden-checkbox:checked ~ .next-display-label span { color: #0073aa; }

#__next_mail_listed_id .next_mail_custom_post_type .disply-login-div .style-sec-next .hidden-checkbox:checked ~ .next-display-label figure.image-figure img { opacity: 1; }
